In [1]:
import numpy as np 
import pandas as pd
import json
import random
from tqdm import tqdm
from sklearn.metrics.pairwise import cosine_similarity

user = pd.read_csv('./food.csv')
ratings = pd.read_csv('./test.csv')

user.food_num = pd.to_numeric(user.food_num, errors='coerce')
ratings.food_num = pd.to_numeric(ratings.food_num, errors='coerce')

In [2]:
season_values = ['mar','apr','may']
season = ['jan','feb','jun','jul','aug','sep','oct','nov','dec']

In [ ]:
data_season = data.drop(columns=season,axis = 1)
matrix_season = data_season.pivot_table(index='food_name', columns='user', values = season_values).fillna(0)
item_season = cosine_similarity(matrix_season)
item_season = pd.DataFrame(data = item_season, index = matrix_season.index, columns =matrix_season.index)

In [53]:
#음악파일 보내기 테스트
import socket
import time
HEIGHT = 224
WIDTH = 224
import urllib.request
import time
from PIL import Image
import ssl
import pandas as pd
from urllib import parse
import ssl
import time
from io import BytesIO
import operator
# 랜덤 음악 생성 로직        
# pyknon이라는 라이브러리 깔려야함
from pyknon.genmidi import Midi
from pyknon.music import NoteSeq, Note, Rest
import random

host = '220.93.169.14' # 호스트 ip를 적어주세요
port = 8089            # 포트번호를 임의로 설정해주세요

server_sock = socket.socket(socket.AF_INET)
server_sock.bind((host, port))
server_sock.listen(1)
print("기다리는 중..")
#out_data = int(10)
send_data = ""
while True: #안드로이드에서 연결 버튼 누를 때까지 기다림
    client_sock, addr = server_sock.accept() # 연결 승인

    #받는데이터 : 나이/성별/계절
    if client_sock: #client_sock 가 null 값이 아니라면 (연결 승인 되었다면)
        print('Connected by?!', addr) #연결주소 print
        in_data = client_sock.recv(1024) #안드로이드에서 "refresh" 전송
        in_data3 = in_data.decode('utf-8', 'ignore').split('/')
        print(in_data3)
        in_data2 = in_data3[0].replace('\x00\r', '').replace('', '').replace('\x00\x0b', '')
        print(in_data2)
        
        season_values = ['mar','apr','may']
        season = ['jan','feb','jun','jul','aug','sep','oct','nov','dec']
        
        age = int(in_data2)
        
        if in_data3[1] =='남자':
            in_data3[1] = 1
            
        if in_data3[1] == '여자':
            in_data3[1] = 0
        
        gender = in_data3[1]
        print('age:', age)
        print('gender:', gender)
        
        #gender = in_data2[1]
        top_store = in_data3[2]
        print('top_store:', top_store)
        
        
        data = pd.merge(ratings, user, on='food_num', how='inner')
        
        data_age = data[(data['age']==age) & (data['gender']==gender)]
        matrix_age = data_age.pivot_table(index=['food_name'], columns=["user"], values='may').fillna(0)        
        item_age = cosine_similarity(matrix_age)
        item_age = pd.DataFrame(data = item_age, index = matrix_age.index, columns =matrix_age.index)

        def collabor_age():
            return item_age[top_store].sort_values(ascending=False)[1:4]
         
        age_data = collabor_age()
        age_store1 = age_data.index[0]
        age_store2 = age_data.index[1]
        age_store3 = age_data.index[2]
        print('age_data', age_data)
        print('age_data type', type(age_data))
        
        
        #겨울 = 'dec','jan','feb' / 봄 = 'mar','apr','may' / 여름 = 'jun','jul','aug' / 'sep','oct','nov'
        data_season = data.drop(columns=season,axis = 1)

        matrix_season = data_season.pivot_table(index='food_name', columns='user', values = season_values).fillna(0)
        item_season = cosine_similarity(matrix_season)
        item_season = pd.DataFrame(data = item_season, index = matrix_season.index, columns =matrix_season.index)

        def collabor_season():
            return item_season[top_store].sort_values(ascending=False)[1:4]
        
        item_data = collabor_season()
        item_store1 = item_data.index[0]
        item_store2 = item_data.index[1]
        item_store3 = item_data.index[2]
        print('item_data', item_data)
        print('item_data type', type(item_data))
            
            #number가 1이라면 이미지 분류 실행
        while in_data : #2초마다 안드로이드에 값을 전달함 (추후 , STOP , Connect 옵션 설정 가능)
                                #client_sock.send(str(out_data).encode("utf-8")) # int 값을 string 으로
                                #인코딩해서 전송, byte 로 전송하면 복잡함
                send_result = age_store1 + '/' + age_store2 + '/' + age_store3 + '/' + item_store1 + '/' + item_store2 + '/' + item_store3
                #send_result = result_data + '/' + str(result_acc) '/' + same_data
                    
                client_sock.send(str(send_result).encode("utf-8"))
                send_data = send_result
                print('send :', send_data)
                break
                #out_data = out_data+1 #전송값 +1
    #break
client_sock.close()
server_sock.close()
                    #break
                #time.sleep(2)

기다리는 중..
Connected by?! ('220.93.169.14', 52738)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('175.223.2.193', 56185)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('175.223.2.193', 26267)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('175.223.2.193', 14027)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 53175)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 53544)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 53879)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 55542)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 55596)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 55634)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 55802)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 55825)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 55852)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 55890)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 55915)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 55939)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 55988)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 56016)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 56828)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go

Connected by?! ('220.93.169.14', 56393)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 56489)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 56858)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 57091)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 57139)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 57162)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 57251)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 57304)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 57344)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 57414)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 57448)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 57522)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('220.93.169.14', 57553)
['\x00\r25', '남자', 'oct']
25
age: 25
gender: 1
top_store: oct
age_data food_name
snake     0.242166
kagawa    0.234752
cho       0.219146
Name: oct, dtype: float64
age_data type <class 'pandas.core.series.Series'>
item_data food_name
han     0.088855
coco    0.087637
go      0.086963
Name: oct, dtype: float64
item_data type <class 'pandas.core.series.Series'>
send : snake/kagawa/cho/han/coco/go
Connected by?! ('54.83.117.107', 41778)
['GET ', ' HTTP', '1.1\r\nHost: 220.93.169.14:8089\r\nUser-Agent: Mozilla', '5.0 (Windows NT 6.2;en-US) AppleWebKit', '537.32.36 (KHTML, live Gecko) Chrome', '58.0.3028.72 Safari', '537.32\r\nAccept-Encoding: gzip, deflate\r\nAccept: *', '*\r\nConnection: keep-alive\r\n\r\n']
GET

ValueError: invalid literal for int() with base 10: 'GET '